.page .main-page-wrapper{
	background-color:rgb(250,250,250);
	background-image: none;
}

.woodmart-archive-shop .main-page-wrapper{
	background-color:rgb(250,250,250);
	background-image: none;
}











